*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background-color: black;
}

.hbox{
    margin-top: 2%;
}


h1{
    text-align: center;
    font-size: 7vw;
    color: red;
    font-weight: bolder;
    text-shadow: 0px 0px 20px red;
    
}

h3{
    text-align: center;
    font-size: 6vw;
    color: #00ff00;
    font-weight: bolder;
    text-shadow: 0px 0px 20px #00ff00;
}


.clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 60%;
    height: auto;
    padding: 1rem;
    background-color: rgb(76, 90, 219);
    box-shadow:  0px 0px 100px rgb(76, 90, 219), 0px 0px 50px rgb(76, 90, 219);
    border-radius: 5px;

}

span{
    font-size: 7vw;
    
    font-weight: bolder;
    text-shadow: 0px 0px 15px black;
    color: white;
}

.ch{
    color: salmon;
}


@media screen and (max-width : 800px ) {
    .clock{
        width: 80%;
        margin-top: 10%;
    }
}